stages:
  - build
  - test
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  COMPOSE_PROJECT_NAME: user-access-management
  SPRING_DATASOURCE_URL: "jdbc:postgresql://localhost:55432/auth-service"
  SPRING_DATASOURCE_USERNAME: "postgres"
  SPRING_DATASOURCE_PASSWORD: "quangtruong1"
  JWT_SECRET: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"
  JWT_DURATION: "86400"
  KAFKA_SERVER: "localhost:9092"
  SPRING_PROFILES_ACTIVE: "local"

services:
  - docker:dind

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .m2/repository/

# ================= BUILD =================
build_job:
  stage: build
  image: maven:3.9.4-eclipse-temurin-17
  script:
    - echo "===== BUILD AUTH SERVICE ====="
    - mvn -f auth-service/pom.xml clean package -DskipTests
    - echo "===== BUILD USER SERVICE ====="
    - mvn -f user-service/pom.xml clean package -DskipTests
  artifacts:
    paths:
      - "auth-service/target/*.jar"
      - "user-service/target/*.jar"

# ================= TEST =================
test_job:
  stage: test
  image: maven:3.9.4-eclipse-temurin-17
  script:
    - echo "===== RUN TESTS AUTH SERVICE ====="
    - mvn -f auth-service/pom.xml test
    - echo "===== RUN TESTS USER SERVICE ====="
    - mvn -f user-service/pom.xml test

# ================= DEPLOY =================
deploy_job:
  stage: deploy
  image: docker:24.0.5
  services:
    - docker:dind
  only:
    - main
  before_script:
    - echo "===== CHECK DOCKER VERSION ====="
    - docker --version
    - docker-compose --version
  script:
    - echo "===== STOP ANY EXISTING CONTAINERS ====="
    - docker-compose -f docker-compose.yaml down || true

    - echo "===== BUILD AND START CONTAINERS ====="
    - docker-compose -f docker-compose.yaml up -d --build

    - echo "===== WAIT FOR SERVICES TO START ====="
    - sleep 30

    - echo "===== CHECK CONTAINERS STATUS ====="
    - docker ps -a

    - echo "===== HEALTH CHECK AUTH SERVICE ====="
    - curl -f http://localhost:8081/actuator/health || echo "Auth Service not ready"

    - echo "===== HEALTH CHECK USER SERVICE ====="
    - curl -f http://localhost:8082/actuator/health || echo "User Service not ready"
