image: openjdk:17-jdk-slim

stages:
  - build
  - test
  - deploy

variables:
  AUTH_SERVICE_NAME: auth-service
  USER_SERVICE_NAME: user-service
  AUTH_JAR_PATH: auth-service/target/auth-service-1.0-SNAPSHOT.jar
  USER_JAR_PATH: user-service/target/user-service-1.0-SNAPSHOT.jar

build-job:
  stage: build
  tags:
    - local
  script:
    - chmod +x mvnw
    - ./mvnw clean package -DskipTests
  artifacts:
    paths:
      - auth-service/target/*.jar
      - user-service/target/*.jar
      - core/target/*.jar
    expire_in: 1 hour

test-job:
  stage: test
  tags:
    - local
  dependencies:
    - build-job
  script:
    - ./mvnw test

deploy-auth-service:
  stage: deploy
  tags:
    - local
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  dependencies:
    - build-job
  script:
    - docker stop $AUTH_SERVICE_NAME || true
    - docker rm $AUTH_SERVICE_NAME || true
    - |
      docker run -d \
        --name $AUTH_SERVICE_NAME \
        -p 8080:8080 \
        -v $CI_PROJECT_DIR/$AUTH_JAR_PATH:/app.jar \
        eclipse-temurin:17-jdk-alpine \
        java -jar /app.jar

deploy-user-service:
  stage: deploy
  tags:
    - local
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  dependencies:
    - build-job
  script:
    - docker stop $USER_SERVICE_NAME || true
    - docker rm $USER_SERVICE_NAME || true
    - |
      docker run -d \
        --name $USER_SERVICE_NAME \
        -p 8081:8081 \
        -v $CI_PROJECT_DIR/$USER_JAR_PATH:/app.jar \
        eclipse-temurin:17-jdk-alpine \
        java -jar /app.jar

