image: openjdk:17-jdk-slim

stages:
  - build
  - test
  - deploy

variables:
  AUTH_SERVICE_NAME: auth-service
  USER_SERVICE_NAME: user-service
  AUTH_JAR_PATH: auth-service/target/auth-service-1.0-SNAPSHOT.jar
  USER_JAR_PATH: user-service/target/user-service-1.0-SNAPSHOT.jar

build_job:
  stage: build
  tags:
    - local
  script:
    - mvn -version
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - auth-service/target/*.jar
      - user-service/target/*.jar
      - core/target/*.jar
    expire_in: 1 hour

test_job:
  stage: test
  tags:
    - local
  dependencies:
    - build_job
  script:
    - mvn test

deploy_auth_service:
  stage: deploy
  tags:
    - local
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  dependencies:
    - build_job
  script:
    - docker stop auth-service || exit 0
    - docker rm auth-service || exit 0
    - docker run -d --name auth-service `
        -p 8081:8081 `
        -v "$CI_PROJECT_DIR/$AUTH_JAR_PATH:/app.jar" `
        eclipse-temurin:17-jdk-alpine `
        java -jar /app.jar

deploy_user_service:
  stage: deploy
  tags:
    - local
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  dependencies:
    - build_job
  script:
    - docker stop user-service || exit 0
    - docker rm user-service || exit 0
    - docker run -d --name user-service `
        -p 8082:8082 `
        -v "$CI_PROJECT_DIR/$USER_JAR_PATH:/app.jar" `
        eclipse-temurin:17-jdk-alpine `
        java -jar /app.jar
