stages:
  - build
  - test
  - deploy

variables:
  AUTH_SERVICE_NAME: auth-service
  USER_SERVICE_NAME: user-service
  AUTH_JAR_PATH: auth-service/target/auth-service-1.0-SNAPSHOT.jar
  USER_JAR_PATH: user-service/target/user-service-1.0-SNAPSHOT.jar

build_job:
  stage: build
  tags:
    - local
  script:
    - echo ===== BUILD =====
    - java -version
    - mvn -version
    - mvn clean package -DskipTests

test_job:
  stage: test
  tags:
    - local
  script:
    - echo ===== TEST =====
    - mvn test

deploy_auth_service:
  stage: deploy
  tags:
    - local
  only:
    - main
  script:
    - echo ===== DEPLOY AUTH SERVICE =====
    - docker stop %AUTH_SERVICE_NAME% || echo "not running"
    - docker rm %AUTH_SERVICE_NAME% || echo "not exist"
    - docker run -d ^
        --name %AUTH_SERVICE_NAME% ^
        -p 8081:8081 ^
        -v %CD%\%AUTH_JAR_PATH%:/app.jar ^
        eclipse-temurin:17-jdk-alpine ^
        java -jar /app.jar

deploy_user_service:
  stage: deploy
  tags:
    - local
  only:
    - main
  script:
    - echo ===== DEPLOY USER SERVICE =====
    - docker stop %USER_SERVICE_NAME% || echo "not running"
    - docker rm %USER_SERVICE_NAME% || echo "not exist"
    - docker run -d ^
        --name %USER_SERVICE_NAME% ^
        -p 8082:8082 ^
        -v %CD%\%USER_JAR_PATH%:/app.jar ^
        eclipse-temurin:17-jdk-alpine ^
        java -jar /app.jar
